BOT_KEY= # Telegram bot key, generate one when you create a bot on telegram.
AZURE_AD_CLIENT_ID= # Azure AD Application Client ID
AZURE_AD_CLIENT_SECRET= # Azure AD Application Client Secret
AZURE_AD_TENANT_ID=common # Keep this as common so school/work emails can be used.
ENCRYPTION_KEY= # Used to encrypt within the app.
TELEGRAM_WEBHOOK_SECRET= # Used for message passing between telegram and Convex (Backend)
UPSTASH_REDIS_REST_URL= # Upstash Redis Cache URL.
UPSTASH_REDIS_REST_TOKEN= # Upstash Redis Cache Token.

NEXT_PUBLIC_POSTHOG_KEY= # Posthog telemetry key
NEXT_PUBLIC_POSTHOG_HOST= # Posthog telemetry host

CONVEX_DEPLOYMENT=dev:<project_id> # Convex backend, replace <project_id> with the real project id.
NEXT_PUBLIC_CONVEX_URL=https://<project_id>.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://<project_id>.convex.site

# Auth
CONVEX_JWT_AUDIENCE=findex
CONVEX_JWT_KID=swaphub
CONVEX_JWT_ISSUER=https://findex.benapps.dev/
CONVEX_JWT_PUBLIC_KEY= # Generate a public key here:  openssl rand -hex 32 | pbcopy
CONVEX_JWT_JWKS_URL= # Go to jwks.json, post it on a storage bucket (e.g. convex storage) and paste the link here.

# Convex Auth JWT keys:
#  openssl genrsa -out convex-jwt-private.pem 2048
#  Replace <newline> (\n) with \\n.
CONVEX_JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\\n ...
#  openssl rsa -in convex-jwt-private.pem -pubout -out convex-jwt-public.pem
#  Replace <newline> (\n) with \\n.
CONVEX_JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\\n ...